.JSONBuilder {
  .droppable {
    outline: 2px dashed #00000013;
    border-radius: 4px;
    height: 400px;
  }
  .level1 {
    margin-left: 10px;
  }
  .icon-plus,
  .icon-clone {
    margin-left: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in;
  }
  .icon-plus {
    color: darkmagenta;
    font-size: 15.5px;
    &:hover,
    &:focus,
    &:focus-visible,
    &:visited {
      color: crimson;
    }
  }
  .icon-clone {
    color: green;
    font-size: 14.5px;
    &:hover,
    &:focus,
    &:focus-visible,
    &:visited {
      color: crimson;
    }
  }
}
