.dark-theme {
  @import '../common/colors';
  //DARK_THEME
  $primary: $teal300;
  $primaryVariant: $cyan300;
  $secondary: $teal400;
  $secondaryVariant: $cyan400;
  $background: $gray900;
  $surface: $black;
  $error: $red400;
  $onPrimary: $white;
  $onSecondary: $white;
  $onBackground: $white;
  $onSurface: $black;
  $onError: $white;
  @import '../common/variables';
  @import '../base/componentBase';
  @import '../base/alignmentBase';
  height: 100%;
  color: $onBackground;
  background-color: $background;
  font: $global-text-font-size $global-font-family;

  .primary {
    background-color: $white;
    color: $orange800;
  }

  .success {
    background-color: $white;
    color: $green800;
  }
}
