.light-theme {
  @import '../common/colors';
  $background: $white;
  $onBackground: $black;
  $primary: $blue700;
  $onPrimary: $white;
  $secondary: $bluegray500;
  $onSecondary: $white;
  $success: $teal500;
  $onSuccess: $white;
  $warning: $yellow600;
  $onWarning: $black;
  $error: $deeporangeA700;
  $onError: $white;
  $info: $lightblue500;
  $onInfo: $white;
  $link: $white;
  $onLink: $lightblue600;
  $border:$gray300;
  @import '../common/variables';
  @import '../base/componentBase';
  @import '../base/alignmentBase';
  @import '../components/main';
}
