.light-theme {
  @import '../common/colors';
  //WHITE_THEME
  $primary: $teal300;
  $primaryVariant: $cyan300;
  $secondary: $teal400;
  $secondaryVariant: $cyan400;
  $background: $white;
  $surface: $white;
  $error: $red400;
  $onPrimary: $white;
  $onSecondary: $white;
  $onBackground: $black;
  $onSurface: $black;
  $onError: $white;
  @import '../common/variables';
  @import '../base/componentBase';
  @import '../base/alignmentBase';
  height: 100%;
  color: $onBackground;
  background-color: $background;
  font: $global-text-font-size $global-font-family;

  .btn {
    color: blue;
  }
}
