@import './mixins/alignmentMixins';

.fixed-top {
  @include sticky;
  top: 0px;
}

// Margins
@include spacing-loop('.m-t-', 'margin-top');
@include spacing-loop('.m-r-', 'margin-right');
@include spacing-loop('.m-b-', 'margin-bottom');
@include spacing-loop('.m-l-', 'margin-left');
@include spacing-loop('.m-x-', 'margin');

// Paddings
@include spacing-loop('.p-t-', 'padding-top');
@include spacing-loop('.p-r-', 'padding-right');
@include spacing-loop('.p-b-', 'padding-bottom');
@include spacing-loop('.p-l-', 'padding-left');
@include spacing-loop('.p-x-', 'padding');

// Width, Height
@include sizing-loop('.w-', 'width');
@include sizing-loop('.h-', 'height');

.text-center {
  text-align: center;
}

.gutter {
  & > label {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  & > input {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-25 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}
