@import './mixins/alignmentMixins';

.fixed-top {
  @include sticky;
  top: 0px;
}

// Margins
@include spacing-loop('.m-t-', 'margin-top');
@include spacing-loop('.m-r-', 'margin-right');
@include spacing-loop('.m-b-', 'margin-bottom');
@include spacing-loop('.m-l-', 'margin-left');
@include spacing-loop('.m-x-', 'margin');

// Paddings
@include spacing-loop('.p-t-', 'padding-top');
@include spacing-loop('.p-r-', 'padding-right');
@include spacing-loop('.p-b-', 'padding-bottom');
@include spacing-loop('.p-l-', 'padding-left');
@include spacing-loop('.p-x-', 'padding');

// Width, Height
@include sizing-loop(
  $className: '.wpct-',
  $styleName: width,
  $unit: '%',
  $max: 100,
  $offset: 1,
  $i: 0
);
@include sizing-loop('.w-', 'width');
@include sizing-loop('.h-', 'height');

// Radius
@include radius-loop('.r-');

// Font Sizes
@include font-loop(
  $className: '.f-',
  $styleName: font-size,
  $unit: rem,
  $max: 5,
  $i: 1
);

// Font Bolds
@include font-loop(
  $className: '.fb-',
  $styleName: font-weight,
  $unit: '',
  $max: 900,
  $i: 100
);

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.gutter {
  & > label {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  & > input {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-25 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}

// cursor pointer
.c-pointer {
  cursor: pointer;
}

// position
.p-abs {
  position: absolute;
}

.p-rel {
  position: absolute;
}

.top {
  top: 0px;
}

.right {
  right: 0px;
}

.left {
  left: 0px;
}

.bottom {
  bottom: 0px;
}

.space-btw {
  @include flex-justify(space-between);
}
