@import './mixins/componentMixins';
@import './mixins/flexMixins';
@import './mixins/fontMixins';

.flex {
  @include flex;
}

@include flex-loop('.flex-', 'flex');

.navbar {
  @include navbar;
  @include flex;
}

.navbar-inner {
  @include flex-justify(space-between);
  width: 100%;
}

.navbar-items {
  @include flex-items($align: center);
}

.navitem {
  @include title;
  flex: 1 1 auto;
  overflow: hidden;
}

.navitem-title {
  @include title;
}

.navitem-right {
  @include flex-items($align: center, $justify: flex-end, $flex: 0 0 auto);
}

.sidenav {
  border-right: $global-border-width $global-border-style $global-border-color;
}

.btn,
.alert {
  @include button();
}

.btn-flat,
.alert-flat {
  @include button($flat: true);
}

.btn-block {
  @include button($flat: true, $transform: false, $display: block);
}

.table {
  height: 400px;
  overflow-y: scroll;
}

.form {
  @include flex-justify(space-between);
}
.form-label {
  font-weight: $font-md;
  font-size: calc($global-font-size + 0.04rem);
  width: 100%;
}

.form-input {
  display: block;
  margin-top: 0.25rem;
  padding: $form-padding;
  font-size: $global-font-size;
  transition: $form-transition;
  border-radius: $form-border-radius;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
}
.form-select {
  @extend .form-input;
}
.form-textarea {
  @extend .form-input;
  box-sizing: border-box;
  resize: vertical;
}

.radio {
  @include button($transform: false);
  border-radius: 0px;
}

.dropdown {
  position: relative;
  z-index: 7;
}

.dropdown-content {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
  @include dropdownContent();
}

.dropdown-content div {
  padding: 0.575rem 0.8rem;
  display: block;
  white-space: nowrap;
  &:hover {
    font-weight: 600;
    filter: brightness(1.25);
  }
}

.option {
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  max-height: 200px;
  overflow-y: auto;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // box-shadow: rgb(0 0 0 / 10%) 0 2px 4px 0;
  // &:hover {
  //   box-shadow: rgb(0 0 0 / 15%) 0 3px 9px 0;
  // }
  display: block;
  white-space: nowrap;
  &:hover {
    font-weight: 600;
    filter: brightness(1.25);
  }
}

.iconWrapper {
  @extend .flex-center;
  margin: 1rem;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 15%) 0 3px 9px 0;
}
