@mixin sticky($top: 0, $zIndex: 4) {
  position: sticky;
  z-index: $zIndex;
}

@mixin spacing-loop($className, $styleName) {
  $max: 48;
  $offset: 4;
  $unit: 'px'; // Feel free to change the unit.
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}

@mixin sizing-loop($className, $styleName) {
  $max: 400;
  $offset: 40;
  $unit: 'px'; // Feel free to change the unit.
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}

@mixin radius-loop($className) {
  $max: 100;
  $offset: 4;
  $unit: 'px'; // Feel free to change the unit.
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      width: #{$i + $unit};
      height: #{$i + $unit};
      border-radius: 50%;
    }
    $i: $i + $offset;
  }
}

@mixin font-loop(
  $className,
  $styleName,
  $unit: px,
  $max: 30,
  $offset: 1,
  $i: 0
) {
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}
