@mixin flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

@mixin flex-items($flex: 1, $align: unset, $justify: unset, $minwidth: 0) {
  @include flex;
  align-items: $align;
  flex: $flex;
  justify-content: $justify;
  min-width: $minwidth;
}

@mixin flex-justify($justify: center) {
  @include flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flex-loop($className, $styleName) {
  $max: 100;
  $offset: 5;
  $unit: '%'; // Feel free to change the unit.
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: 1 1 #{$i + $unit};
      max-width: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}
