@mixin title {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: $global-title-font-size;
}

@mixin variants(
  $variant-name,
  $bg-color,
  $color,
  $textDecor: none,
  $outline: false,
  $form: false
) {
  #{$variant-name} {
    background-color: $bg-color;
    color: $color;
    text-decoration: $textDecor;
    @if $outline {
      border: 1px solid $color;
      &:hover {
        background-color: lighten($color, 51%);
        color: $color;
      }
    }
    @if $form {
      background-color: none;
      border: 2px solid lighten($color, 5%);
      color: $black;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: 2px solid darken($color, 5%);
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }
}

@mixin icon(
  $variant-name,
  $invert: 50%,
  $sepia: 50%,
  $saturate: 50%,
  $hue-rotate: 50deg,
  $brightness: 50%,
  $contrast: 50%
) {
  #{$variant-name} {
    filter: invert($invert) sepia($sepia) saturate($saturate)
      hue-rotate($hue-rotate) brightness($brightness) contrast($contrast);
    &:hover {
      filter: invert($invert) sepia($sepia) saturate($saturate)
        hue-rotate($hue-rotate) brightness($brightness - 25%)
        contrast($contrast);
    }
  }
}
