@mixin title {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: $global-title-font-size;
}

@mixin variants(
  $variant-name,
  $bg-color,
  $color,
  $textDecor: none,
  $outline: false,
  $form: false
) {
  #{$variant-name} {
    background-color: $bg-color;
    color: $color;
    text-decoration: $textDecor;
    @if $outline {
      border: 1px solid $color;
      &:hover {
        background-color: lighten($color, 51%);
        color: $color;
      }
    }
    @if $form {
      background-color: none;
      border: 2px solid lighten($color, 5%);
      color: $black;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        border: 2px solid darken($color, 5%);
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }
}
