.strategy-comp {
  .positive {
    color: darkgreen;
  }
  .negative {
    color: orangered;
  }
  .font600 {
    font-weight: 600;
  }
  .underline {
    text-decoration: underline;
  }
  .borderRight {
    border-right: 1px solid rgb(209, 206, 206);
  }
  .borderBottom {
    border-bottom: 1px solid rgb(209, 206, 206);
  }
  .info-icon {
    color: midnightblue;
    cursor: pointer;
  }
  .icon-true {
    color: firebrick;
  }
  .font14 {
    font-size: 14px;
  }
  .addOnData {
    margin-bottom: 7px;
  }
  .icon-ship-true {
    color: seagreen;
    font-size: 20px;
    cursor: pointer;
  }
  .icon-ship-false {
    color: maroon;
    font-size: 20px;
    cursor: pointer;
  }
  .margin-38 {
    margin-top: 38px; 
  }
  .padding5 {
    padding: 5px 10px;
  }
  .optionLegs {
    margin: 10px 0px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: aliceblue;
    &:hover {
      background-color: lavenderblush;
    }
  }
  .selectedOptionLeg {
    margin: 10px 0px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: lavenderblush;
    font-weight: 600;
  }
}
