.badge {
  color: navy;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  background-color: honeydew;
  font-size: 11px;
  font-weight: 600;
  padding: 3px 7px;
  border: 1px solid #f0f0f0;
  transition: all 0.1s ease-in;
  &:hover,
  &:focus,
  &:focus-visible,
  &:visited {
    color: honeydew;
    background-color: crimson;
  }
  .close-icon {
    font-size: 14px;
    margin-left: 5px;
  }
}
